.movie-item {
  min-width: 84px;
  width: 30%;
  height: 100px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .movie-item {
    width: 24%;
    max-width: 245px;
    height: 170px;
  }
}
.movie-item-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
